.vehicles {
    display: flex;
    flex-direction: column;
}
.vehicle {
    width: 100%;
}

.vehicleCard {
    .marginLeft {
        margin-left: auto;
    }

    .cardContent {
        display: flex;
        flex-wrap: wrap;

        .formControl {
            margin: 10px;
            min-width: 120px;
        }
    }
}
.center{
    text-align: center;
}
.addIcon{
    margin-left: 8px;
}
.addData{
    margin-top: 20px;
}
.zeroState{
    padding: 30px;;
}
.iconSize{
    font-size: 3.5em !important;
}