.filters{
    margin: 20px;;
}
.vehicles {
    display: flex;
    flex-direction: column;
}

.vehicle {
    width: 100%;
}

.vehicleCard {
    .marginLeft {
        margin-left: auto;
    }
}
.subtitle{
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}